    <%  if flash[:success] %>
          <div class="notification success">
                <a href="#" class="close-notification tooltip" title="Hide Notification">x</a>
                <h4>Success notification</h4>
                <p id="notice"><%= flash[:success] %></p>
          </div>
    <% end %> 

<%= render 'form' %>

<%= link_to 'Back', contact_us_path %>
