<%= stylesheet_link_tag "home" %> 

<div class="page-head">

    <div style="position:absolute;left:100px;">
		<%= image_tag("about_us.png") %>
	    <br>
	    <br>
	    <%= image_tag("line.png", :width =>'700', :height=>'4') %>
	    















    </div>
</div>