<%= stylesheet_link_tag "home" %> 



        <div style="position:absolute;left:220px;">
		<%= image_tag("about_us.png") %>
	    </div>
	    <br>
	    <br>
	    <%= image_tag("line.png", :width =>'700', :height=>'4') %>
	    <div style="position:relative;left:50px;top:40px;width:700px;height:500px;">
	     
	      <div style="position:relative;left:20px;top:00px;width:200px;text-align:left;" >
         Cardy Socks are gorgeous accessories that add that extra bit of style to your favourite sheepskin boots; they are designed specifically to protect your boots from unnecessary scuffing and general wear-and-tear from prolonged use. Cardy Socks are available in two sizes, one for long boots and one for short, lovingly made in the United Kingdom and come in an ever-evolving range of colours to suit any outfit and occasion. Their unique style enables you to complete any outfit when you wear your favourite sheepskin boots. If you’re a budding designer please send us you’re your sketches and colour ideas, hopefully your idea could be the part of the next Cardy Sock range! 
         </div>
	     <div style="position:absolute;left:250px;top:00px;width:400px;height:500px;">
	     	
	       <%= image_tag("about_pic.png", :width =>'420', :height=>'330') %>
         </div>
     </div>

        

	    















    
