<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript">
	function initialize() {
	  var mapOptions = {
		zoom: 11,
		center: new google.maps.LatLng(19.09, 72.82),
		mapTypeId: google.maps.MapTypeId.ROADMAP
	  }
	  var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
	}


	$(document).ready(function(){
		initialize();
		 var mapOptions = {
		zoom: 11,
		center: new google.maps.LatLng(19.09647, 72.82),
		mapTypeId: google.maps.MapTypeId.ROADMAP
	  }
	  var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
		 $.ajax({
		  type: "GET",
		  url: '/cardysockspages/shop_locations.json',
	      success: function(data){
				$.each(data, function(i, item) {
				  var marker = new google.maps.Marker({
				  position: new google.maps.LatLng(item.latitude, item.longitude),
     		 	  map: map,
      		 	  title:item.name
				});
  	   		}); 
		 }
	});
	});
</script>

		<div id="map_canvas" style="width: 100%; height: 100%"></div>
