<%= stylesheet_link_tag "home" %> 

<div id="product_list">
	

1: Select a boot colour
<br/>

<% @boots.each do |boot| %>
  <tr>
    
    <td><%=link_to image_tag(boot.bootthumbimage_file_name, :size => "60x60"),  cardysockspages_socks_height_path, :id => @boots, :remote => true  
    %></td>
    
  </tr>
<% end %>
</div>

<div id="preview"></div>
